<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @link.student %>
</p>

<p>
  <b>Kimura:</b>
  <%= @link.kimura %>
</p>

<p>
  <b>Wadoku:</b>
  <%= @link.wadoku %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
