<%= form_for(@kimura) do |f| %>
  <% if @kimura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kimura.errors.count, "error") %> prohibited this kimura from being saved:</h2>

      <ul>
        <% @kimura.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Seite: <%= "#{@kimura.kimura_page}" %> Spalte: <%= "#{@kimura.kimura_column}" %>
    Lemma: <%= "#{@kimura.kimura_lemma}" %>
  </p>

  <% if @kimura.kimura_isEdited %>
    <p> Dieser Eintrag wurde bereits bearbeitet</p>
  <% else %>
    <p> Dieser Eintrag wurde noch nicht bearbeitet</p>
  <% end %>

  <div class="field">
    <%= f.label "Lesung: " %><br />
    <%= f.text_field :kimura_reading %>
  </div>
  <div class="field">
    <%= f.label "Schreibung: " %><br />
    <%= f.text_field :kimura_writing %>
  </div>


  <% @entries.each do |wadoku_entry| %>

<% if wadoku_entry.entry != "0000000" %>
    <p>
      <span style="color:green"><strong><%= "#{wadoku_entry.entry}"%> </strong></span>
      <br>
      <%="#{wadoku_entry.contents}" %>
    </p>
<% else %>
    <p>
      <span style="color:blue"><strong><%= "#{wadoku_entry.id}"%> </strong> and written as: 
      <%= "#{wadoku_entry.writing}"%> </span>      
    </p>
<% end %>

<% end %>


<% unless @ids.empty? %>
  <p>Wählen Sie bitte die passende ID aus der obigen Liste aus: <%= select_tag "wadoku_entry", options_for_select(@ids + ['new'], @selected_id) %> </p>

	<% else %>

  <p>Wählen Sie bitte die passende ID aus der obigen Liste aus: <%= select_tag "wadoku_id", options_for_select(@variousIds + ['new'], @selected_id) %> </p>
<% end %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
