<h1>Listing kimuras</h1>

<%= paginate @kimuras %>

<table class="table-striped">
  <thead>
    <tr>
      <th>Bearbeiter</th>
      <th>Seite</th>
      <th>Spalte</th>
      <th>Lemma</th>
      <th>Lesung</th>
      <th>Schreibung</th>
      <th>Bearbeitet</th>
      <th>Kommentar</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kimuras.each do |kimura| %>
      <tr>
        <td><%= kimura.user ? kimura.user.email : "None"%></td>
        <td><%= kimura.kimura_page %></td>
        <td><%= kimura.kimura_column %></td>
        <td><%= kimura.kimura_lemma %></td>
        <td><%= kimura.kimura_reading %></td>
        <td><%= kimura.kimura_writing %></td>
        <td>
          <% if kimura.kimura_isEdited %>
            <span class="label label-success">✓</span> 
          <% end %>
        </td>
        <td>
          <% if kimura.comments.length > 0 %>
            <span class="badge badge-important"><%= kimura.comments.length %></span> 
          <% end %>
        </td>
        <td><%= link_to 'Show', kimura %></td>
        <td>
          <% if kimura.user == current_user %>
            <%= link_to 'Edit', edit_kimura_path(kimura) %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

