<h1>Liste der Kimura-Einträge</h1>

<%= paginate @kimuras %>

<table class="table-striped">
  <tr>
    <th>Seite</th>
    <th>Spalte</th>
    <th>Lemma</th>
    <th>Lesung</th>
    <th></th>
  </tr>

<% @kimuras.each do |kimura| %>
  <tr>
    <td><%= kimura.kimura_page %></td>
    <td><%= kimura.kimura_column %></td>
    <td><%= kimura.kimura_lemma %></td>
    <td><%= kimura.kimura_reading %></td>
    <td><%= link_to 'Eintrag bearbeiten', edit_kimura_path(kimura) %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'einen neuen Kimura-Eintrag verfassen', new_kimura_path %></p>
</p><%= link_to 'einen neuen Wadoku-Eintrag verfassen', new_wadoku_path %></p>
