<!DOCTYPE html>
<html>
<head>
  <title>Baseviewer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Kimura <3 Wadoku", root_path, :class => 'brand' %>
        <ul class="nav">
          <li><%= link_to "Konto", edit_user_registration_path(current_user), :method => :get %></li>
          <li class="dropdown">
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Kimura Entries</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><%= link_to "All entries", kimuras_path, :method => :get %></li>
            <li><%= link_to "My entries", users_my_kimura_path(current_user), :method => :get %></li>
          </ul>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to "#{current_user.email} abmelden.", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </div>..
  <div class="container-fluid">
    <div class="row-fluid">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= notice %></p>
      <% end %>

      <div class="offset3 span9">
        <%= yield %>
      </div>

    </div>
    <hr>
    <footer class="footer">
    <p>Programmierung © 2013 <a href="https://github.com/StasRei">Stanislav Reichert</a></p>
    <p>Source Code bei <a href="https://github.com/thebluber/kimura.git">Github</a></p>
    </footer>
  </div>

</body>
</html>
