<!DOCTYPE html>
<html>
<head>
  <title>Baseviewer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= notice %></p>
      <% end %>



      <div class="span12">
      <%= yield %>
      </div>

    </div>
  </div>

</body>
</html>
